@import "tailwindcss";

@theme {
  /* Palette Asgrin Network */
  --color-deep-space: #0D0818;
  --color-asgrin-violet: #534AB7;
  --color-soft-iris: #AFA9EC;
  --color-iris-dark: #7F77DD;
  --color-frost: #EEEDFE;

  /* Ces variables sont injectées par next/font dans le <body> (voir layout.tsx) */
  --font-heading: var(--font-orbitron);
  --font-body: var(--font-dm-sans);
}

body {
  background-color: var(--color-deep-space);
  color: var(--color-frost);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}